body {
  margin: 0;
  font-family: "Inter", sans-serif;

  /* BODY artık sade — arka plan App.css’te */
  background: #eaf3ff; /* çok açık bir mavi ton, fallback */
  min-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
